/* src/layouts/navbar/navbar.css */

.navbar-wrapper {
    background-color: var(--light-primary-color);
    width: 100%;
    height: 10vh;
    padding: 0 40px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
}

.navbar-wrapper__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

.navbar-wrapper__menu__item {
    padding: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.navbar-wrapper__menu__item__link {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem;
}

.navbar-wrapper__menu__item__link:hover {
    border-bottom: 2px solid var(--divider-color);
}
