@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap");

:root {
    --dark-primary-color: #1fae84;
    --light-primary-color: #9dd7de;
    --primary-color: #00838f;
    --text-icon-color: #ffffff;
    --accent-collor: #9e9e9e;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #b2ebf2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: var(--dark-primary-color);
    height: 100%;
}

#root {
    height: 100%;
}
